{% extends "base.html" %}

{% block main %}
<div id="service-main-body" class="main-body">
      <div id="skill-box" class="box">
        <dl class="left-nav">
          <dt>关于我们</dt>
          <dd><a href="javascript:;" class="hover">资讯与动态</a></dd>
          <dd><a href="javascript:;">联系我们</a></dd>
          <dd><a href="javascript:;">商务合作</a></dd>
          <dd><a href="javascript:;">企业内训</a></dd>
          <dd><a href="javascript:;">加入我们</a></dd>
        </dl>
        <div class="sub-page clearfix">
          <div class="right-cont">
            <h3 class="title">关于我们</h3>
            <p>我们提供免费的企业建站服务，配套的环境搭建、使用培训等免费服务，真正0元建站；同时素材制作、网络营销、域名备案等增值服务</p>
          </div>
        </div>
      </div>
      <div id="solution-box" class="solution-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">资讯与动态</h3>
              <ul>
              	<li><p>公司动态和行业资讯</p></li>
              </ul>
              <div class="solution-icon-p solution-icon-1">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="systemyw-box" class="">
        <div class="box">
          <div class="sub-page systemyw-sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">联系我们</h3>
              <p>地址：合肥市瑶海区长江东大街华润紫云府7#3301<br/>
              		 电话：182-5606-1101<br/>
              		 Email：five3@163.com<br/>
                  对公账号：1302013309200001097【工商银行】<br/>
                  户名：合肥柚加信息技术有限公司
              </p>
            </div>
          </div>
        </div>
      </div>
       <div id="cloud-box" class="cloud-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">商务合作</h3>
              <p>热烈欢迎志同道合的为小企业服务的兄弟公司，与我们一起陪伴小企业一路成长；</p>
            </div>
          </div>
        </div>
      </div>
      <div id="systemyw-box" class="systemyw-box">
        <div class="box">
          <div class="sub-page systemyw-sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">企业内训</h3>
              <p>承接企业互联网转型信息咨询；企业信息化服务咨询；企业网络营销、微营销内训</p>
            </div>
          </div>
        </div>
      </div>
       <div id="cloud-box" class="cloud-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">加入我们</h3>
              <p>如果你是专业网页美工/设计，那么我们need你；<br/>
              		如果你是不甘平凡的、具有激情的销售牛人，那么我们需要你；<br/>
              		如果你是还没毕业的学子，想要实践社会经验，那么我们欢迎你；<br/>
              		QQ：114638571<br/>
              		Email：five3@163.com</p>
            </div> 
          </div>
        </div>
      </div>
    </div>

{% endblock %}