{% extends "base.html" %}

{% block main %}
<div style="text-align:center;font-size: 24px;  font-weight: bold; margin:20px; ">产品与服务报价</div>
<div id="train-main-body" class="main-body" style="margin-top: 5px;">
      <div class="box train-content">
        <div class="tab-content">
          <div id="train_tab_plan" role="tabpanel" class="tab-pane active">
            <div class="box">
              <div class="train-title" style="text-align:center;">
              </div>
            </div>
            <div class="box">
              <table class="train-table">
                <tbody><tr>
                  <td colspan="6" class="title-td">注：定制内容及额外增加项目，具体请先在线咨询，多谢！</td>
                </tr>
                <tr>
                  <td style="width:90px;">
                    <p style="text-align:left;" class="table-th">产品名称</p>
                  </td>
                  <td style="width:210px;">
                    <p style="text-align:left;" class="table-th">目标群体</p>
                  </td>
                  <td style="width:350px;">
                    <p style="text-align:left;" class="table-th">包含内容</p>
                  </td>
                  <td>
                    <p style="text-align:left;" class="table-th">增值服务</p>
                  </td>
                  <td style="width:90px;">
                    <p class="table-th">官网报价</p>
                  </td>
                  <td style="width:100px;">
                    <p class="table-th">咨询及购买</p>
                  </td>
                </tr>
                </tbody><tbody id="trainList">
                <tr> 
                	<td class="text-center" >免费PC模板站</td> 
	                <td>小企业产品展示</td> 
	                <td>千套免费模板可选；<br/>支持UI布局修改；<br/>支持导航和新页面添加；<br/>免费可访问的二级域名；<br/></td> 
	                <td>域名绑定<br/>付费版本升级<br/>企业资料图片录入<br/>宣传图片制作<br/>网站整体设计<br/></td>
	                <td class="text-center">￥0</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >免费手机模板站</td> 
	                <td>小企业产品展示</td> 
	                <td>千套免费模板可选；<br/>支持UI布局修改<br/>支持导航和新页面添加<br/>免费可访问的二级域名<br/></td> 
	                <td>域名绑定<br/>付费版本升级<br/>企业资料图片录入<br/>宣传图片制作<br/>网站整体设计<br/></td>
	                <td class="text-center">￥0</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >标准三合一模板站</td> 
	                <td>企业形象展示</td> 
	                <td>同时具有PC、手机、微信3套模板站<br/>千套模板可选；<br/>支持UI布局修改<br/>支持导航和页面添加<br/>
	                		免费可访问的二级域名<br/>
	                		免费域名绑定和备案<br/>支持文章添加<br/>支持商品添加<br/>支持会员注册<br/></td> 
	                <td>高级版本升级<br/>企业资料图片录入<br/>宣传图片制作<br/>网站整体设计<br/></td>
	                <td class="text-center">￥200-1000</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >精品PC站</td> 
	                <td>营销型企业</td> 
	                <td>千套模板可选；<br/>支持UI布局修改<br/>支持导航和页面添加<br/>免费可访问的二级域名<br/>
	                		免费域名绑定和备案<br/>支持文章添加<br/>支持商品添加<br/>支持会员注册<br/>提供网站整体设计<br/>
	                		企业资料图片录入<br/>宣传图片制作【2张】<br/>内地香港机房可选<br/>
	                </td>
	                <td>高级版本升级<br/>宣传图片制作【2张】<br/></td>
	                <td class="text-center">￥1000-3000</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >精品手机站</td> 
	                <td>营销型企业</td> 
	                <td>千套模板可选；<br/>支持UI布局修改<br/>支持导航和页面添加<br/>免费可访问的二级域名<br/>
	                		免费域名绑定和备案<br/>支持文章添加<br/>支持商品添加<br/>支持会员注册<br/>提供网站整体设计<br/>
	                		企业资料图片录入<br/>宣传图片制作【2张】<br/>内地香港机房可选<br/>
	                </td>
	                <td>高级版本升级<br/>宣传图片制作<br/></td>
	                <td class="text-center">￥1000-3000</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >企业定制站</td> 
	                <td>业务需求型企业</td> 
	                <td>根据企业具体需求定制；<br/>除上述功能外的其它功能
	                </td>
	                <td>高级版本升级<br/>宣传图片制作<br/></td>
	                <td class="text-center">￥5000以上</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >PC在线商城</td> 
	                <td>电子商务企业</td> 
	                <td>商品分类管理<br/>商品管理<br/>商品展示<br/>促销管理<br/>库存管理<br/>在线支付<br/>会员管理<br/>
	                </td>
	                <td>高级版本升级<br/>宣传图片制作<br/>商城首页设计<br/></td>
	                <td class="text-center">￥2000以上</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >企业邮局</td> 
	                <td>业务型企业</td> 
	                <td>拥有自定义名称的企业邮箱
	                </td>
	                <td>高级版本升级<br/></td>
	                <td class="text-center">￥40-50/年</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >邮件营销/群发</td> 
	                <td>业务型企业</td> 
	                <td>邮件群发、量大价优
	                </td>
	                <td>高级版本升级<br/></td>
	                <td class="text-center">￥0.03-0.05/条</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                <tr> 
                	<td class="text-center" >短信营销/群发</td> 
	                <td>业务型企业</td> 
	                <td>短信群发、量大价优
	                </td>
	                <td>高级版本升级<br/></td>
	                <td class="text-center">￥0.055-0.08/条</td>
	                 <td class="text-center"><a href="" target="_blank">我要咨询</a></td>
                 </tr>
                 
            </table>
            </div>
            <div class="box train-detail train-plan-detail">
              <div class="train-detail-content">
                <div class="h2-title">咨询方式</div>
                <p>联系人： 陈晓伍</p>
                <p>手机：18256061101</p>
                <p>QQ：114638571</p>
                <p>邮箱：five3@163.com</p>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>

{% endblock %}