{% extends "base.html" %}

{% block head %}
    <div id="header-index" class="header-index" style="height: 631px;">
      <div id="carousel-example-generic" data-ride="carousel" class="carousel slide index-carousel"><!-- Indicators -->
        <ol class="carousel-indicators hide">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
        </ol><a data-slide="prev" href="http://jiagouyun.com/#carousel-example-generic" class="left carousel-control"><span class="carousel-prev"></span></a><a data-slide="next" href="http://jiagouyun.com/#carousel-example-generic" class="right carousel-control"><span class="carousel-next"></span></a>
        <div class="carousel-inner">
          <div class="item active">
            <div class="index_bg index_bg3 clearfix">
              <div class="app-b">
                <div class="app">
                  <h2>真正0元建站，体验企业最低运营成本
                    </h2><h3>同时提供PC、手机站免费体验版；同时提供相关建站配套培训</h3>
                </div>
                <div class="app-desc"><a href="http://jiagouyun.com/service?cloud-box" target="_blank" class="index-btn index-btn-1">0元建站</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="index_bg index_bg4 clearfix">
              <div class="app-b">
                <div class="app">
                  <h2>史上最优套餐，三网合一只要一套的价格
                    </h2><h3>PC，手机、微信、app一个都不能少；你还在等什么</h3>
                </div>
                <div class="app-desc"><a href="http://jiagouyun.com/service" target="_blank" class="index-btn index-btn-1">价格详情</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="index_bg index_bg1 clearfix">
              <div class="app-b">
                <div class="app">
                  <h2>什么是云建站！云建站的优势有哪些！</h2>
                  <div class="desc">
                    <p>现在就让我们帮助您的企业构建整个真正的云站</p>
                  </div>
                </div>
                <div class="app-desc"><a href="/article?id=xxx" target="_blank" class="index-btn index-btn-1">立刻建站</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="index_bg index_bg2 clearfix">
              <div class="app-b app-b-2">
                <div class="app">
                  <h2>&nbsp;</h2>
                  <p>&nbsp;</p>
                </div>
                <div class="app-desc"><a href="/article?id=123456" target="_blank" class="index-btn index-btn-1">了解更多</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav nav-fixed">
<div class="box">
  <div class="pull-right phone"><i class="icon32"></i><span>182-5606-1101</span></div>
  <div class="pull-left logo"></div>
  <ul class="clearfix">
    <li><a href="/" class="header-menu-item-active">首页</a></li>
    <li><a href="/product">产品</a></li>
    <li><a href="/service">服务</a></li>
    <li><a href="/template">模板</a></li>
    <li><a href="/about">关于我们</a></li>
    <li class="btn-box"><a href="/register" target="_blank" class="register-btn btn">立即注册</a></li>
  </ul>
</div></div>
    </div>
 {% endblock %}
{% block main %}
    <div class="box about-box tab-box">
      <div class="content-desc">
        <h2>量身定制的企业转型平台</h2>
        <p>帮助您免费构建一套完整的企业互联网平台</p>
        <p><a href="/product" class="arrow">了解详情</a></p>
        <div class="img-box" style="display:none;"><img src="/static/img/index/product-icon.jpg" width="888px" height="338px"></div>
      </div>
      <ul class="sj-nav tab-list clearfix">
        <li data-c="saas" class=""><i class="icon32 saas"></i><span>免费建站</span></li>
        <li data-c="solu" class=""><i class="icon32 solu"></i><span>定制开发</span></li>
        <li data-c="tool" class=""><i class="icon32 tool"></i><span>微信/手机站</span></li>
        <li data-c="cloud" class=""><i class="icon32 cloud"></i><span>云OA</span></li>
      </ul>
      <div class="wrap-line"><span class="line" style="left: 899.5px;"></span></div>
      <ul data-c="saas" class="about-content tab-item">
        <li>
          <div class="title">企业模板站</div>
          <div class="cont">上千套免费模板，可供企业选择免费建站；真正的0元建站</div>
        </li>
        <li>
          <div class="title">企业手机站</div>
          <div class="cont">标准的企业手机站，可供随意选择；帮助你快速发展移动互联网营销</div>
        </li>
        <li>
          <div class="title">企业微信站</div>
          <div class="cont">与微信无缝接入，与6亿用户轻松连接</div>
        </li>
      </ul>
      <ul data-c="solu" class="about-content tab-item">
        <li>
          <div class="title">会员管理</div>
          <div class="cont">拥有自己的一套用户管理系统，让用户不再随意流失，降低用户获取成本</div>
        </li>
        <li>
          <div class="title">商城开发</div>
          <div class="cont">B2C、B2B2C，决战网商时代已经来领；你的行业需要一个垂直电商的崛起</div>
        </li>
        <li>
          <div class="title">ERP定制</div>
          <div class="cont">客户获取、资料统计、回访记录，员工绩效；一个都不能少</div>
        </li>
        <li>
          <div class="title">行业需求</div>
          <div class="cont">针对特定行业，开发适用于改行业发展和互联网改造的软件和程序</div>
        </li>
      </ul>
      <ul data-c="tool" class="about-content tab-item">
        <li>
          <div class="title">微信站</div>
          <div class="cont">与微信无缝连接，与6亿用户共享信息</div>
        </li>
        <li>
          <div class="title">手机站</div>
          <div class="cont">多终端设备支持，自适应响应设计</div>
        </li>
        <li>
          <div class="title">微信商城</div>
          <div class="cont">商机无处不在，用户引流自然转换</div>
        </li>
      </ul>
      <ul data-c="cloud" class="about-content tab-item hover">
        <li>
          <div class="title">移动办公</div>
          <div class="cont">将OA随身携带，随时随地办公。</div>
        </li>
        <li>
          <div class="title">CRM</div>
          <div class="cont">对客户管理进行信息维护，促进高效沟通与合作。</div>
        </li>
        <li>
          <div class="title">知识管理</div>
          <div class="cont">建立企业知识库，共享智慧资源。</div>
        </li>
        <li>
          <div class="title">行政管理</div>
          <div class="cont">维护平台的基础配置和全局参数，达到最大利用率。</div>
        </li>
      </ul>
    </div>
    <div class="service">
      <div class="box service-box tab-box">
        <div class="content-desc">
          <h2>多重服务项目</h2>
          <p>我们为您提供一站式的完整服务，竭诚为你解决企业互联网化环节中的任何问题</p>
          <p><a href="/service" class="arrow">了解详情</a></p>
          <div class="img-box" style="display:none;"><img src="/static/img/index/server-icon.jpg" width="888px" height="338px"></div>
        </div>
        <ul class="service-nav tab-list clearfix">
          <li data-c="tech" class="hover">
            <div class="title">短信营销</div>
            <div class="sub-title">更多客户促销信息高效精准到达</div>
          </li>
          <li data-c="sys">
            <div class="title">邮件营销</div>
            <div class="sub-title">全网覆盖各大邮箱系统，降低营销成本</div>
          </li>
          <li data-c="solu">
            <div class="title">企业邮局</div>
            <div class="sub-title">个性定制自主邮箱，让业务更专业</div>
          </li>
        </ul>
        <div class="wrap-line"><span class="line" style="left: 1px;"></span></div>
        <div data-c="tech" class="service-content tab-item hover">
          <div class="steps clearfix">
            <div class="step-box"><i class="icon64 icon-step icon-step-1"></i>
              <div class="step-name">业务咨询</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-2"></i>
              <div class="step-name">免费试用</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-3"></i>
              <div class="step-name">签订协议</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-4"></i>
              <div class="step-name">支付宝汇款</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-5"></i>
              <div class="step-name">开通账号</div>
            </div>
          </div>
        </div>
        <div data-c="sys" class="service-content tab-item">
          <div class="steps clearfix">
            <div class="step-box"><i class="icon64 icon-step icon-step-6"></i>
              <div class="step-name">全网覆盖</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-7"></i>
              <div class="step-name">精准营销</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-8"></i>
              <div class="step-name">效果稳定</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-9"></i>
              <div class="step-name">免费试用</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-10"></i>
              <div class="step-name">软件升级</div>
            </div>
          </div>
        </div>
        <div data-c="solu" class="service-content tab-item">
          <div class="steps clearfix">
            <div class="step-box"><i class="icon64 icon-step icon-step-11"></i>
              <div class="step-name">企业形象</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-12"></i>
              <div class="step-name">统一管理</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-13"></i>
              <div class="step-name">智能反垃圾</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-14"></i>
              <div class="step-name">安全稳定</div>
            </div>
            <div class="step-box"><i class="icon64 icon-step icon-step-15"></i>
              <div class="step-name">性能高效</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="box service-box tab-box">
        <div class="content-desc">
          <h2>网站模板</h2>
          <p>上千套免费的精美模板，可供选择</p>
          <p><a href="/template" class="arrow">更多模板</a></p>
          <div class="img-box" style="display:none;"><img src="/static/img/index/server-icon.jpg" width="888px" height="338px"></div>
        </div>
        <ul class=" template-nav">
          <li>
            <div class="title"><a><img src="/static/img/index/img48.png" width="388px" height="285px"></a></div>
          </li>
          <li>
            <div class="title"><a><img src="/static/img/index/img50.png" width="388px" height="285px"></a></div>
          </li>
          <li>
            <div class="title"><a><img src="/static/img/index/img51.png" width="388px" height="285px"></a></div>
          </li>
        </ul>

      </div>
    </div>
    <div class="index-use-case" style="clear:both;">
      <div class="box index-use-case-box">
        <div class="content-desc">
          <h2>合作伙伴</h2>
          <p>选择强大稳定的合作伙伴，才能为您提供更稳定的服务</p>
        </div>
        <ul class="customer-list clearfix">
          <li><img src="/static/img/index/hezuo.png"></li>
        </ul>
      </div>
    </div>
 {% endblock %}