{% extends "base.html" %}

{% block main %}
<div id="service-main-body" class="main-body">
      <div id="skill-box" class="box">
        <dl class="left-nav">
          <dt>产品目录</dt>
          <dd><a href="javascript:;" class="hover">企业建站</a></dd>
          <dd><a href="javascript:;">微信建站</a></dd>
          <dd><a href="javascript:;">手机建站</a></dd>
          <dd><a href="javascript:;">定制开发</a></dd>
          <dd><a href="javascript:;">免费OA</a></dd>
        </dl>
        <div class="sub-page clearfix">
          <div class="right-cont">
            <h3 class="title">企业建站</h3>
            <p>我们提供免费的企业建站服务，配套的环境搭建、使用培训等免费服务，真正0元建站；同时素材制作、网络营销、域名备案等增值服务</p>
            <div class="skill-service">
              <ul class="service-list clearfix">
                <li class="anim_box anim_box-1"><a class="service-pic service-pic_database"></a>
                  <p>免费模板站</p>
                </li>
                <li class="anim_box anim_box-2"><a class="service-pic service-pic_big-data"></a>
                  <p>行业门户站</p>
                </li>
                <li class="anim_box anim_box-3"><a class="service-pic service-pic_adjustsys"></a>
                  <p>品牌宣传站</p>
                </li>
                <li class="anim_box anim_box-4"><a class="service-pic service-pic_consult"></a>
                  <p>企业营销站</p>
                </li>
                <li class="anim_box anim_box-5"><a class="service-pic service-pic_publicyun"></a>
                  <p>功能定制站</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="solution-box" class="solution-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">微信建站</h3>
              <p>庞大的微信用户群，是您不可或缺的营销主战场，联系我们为您的微信商业征途添加一份有力的支撑</p>
              <div class="solution-icon-p solution-icon-1">
                <img>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cloud-box" class="cloud-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">手机建站</h3>
              <p>移动互联网，O2O当下依然盛行；移动互联网是大势所趋，紧跟历史潮流才能立于不败之地</p>
              <div class=""><img style="width: 900px; height: 400px; margin: 20px 0;" src="/static/img/product/movesite.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="systemyw-box" class="systemyw-box">
        <div class="box">
          <div class="sub-page systemyw-sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">定制开发</h3>
              <p>标准网站难以满足日益提高的企业需求，定制功能开发才是解救企业的万能药；专业的团队，贴心的价格，优质的服务使我们一直所秉承的宗旨</p>
              <div class="system-service-pc">
                <div class="l-system-service"><span class="system-pc sys-pc_knock"></span>
                  <p>7*24小时服务保证</p>
                </div>
                <div class="l-system-service"><span class="system-pc sys-pc_team"></span>
                  <p>专业技术团队支持</p>
                </div>
                <div class="l-system-service"><span class="system-pc sys-pc_autoTool"></span>
                  <p>超高的性价比服务</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div id="cloud-box" class="cloud-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">免费OA</h3>
              <p>信息化时代，无纸化办公已成为成熟公司的标配；随时随地处理业务流程，让办公效率更上一层楼</p>
              <div class="cloud-desc-img"><img height="400px" src="/static/img/product/free-oa.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}