{% extends "base.html" %}

{% block main %}
<div id="service-main-body" class="main-body">
      <div id="skill-box" class="box">
        <dl class="left-nav">
          <dt>服务项目</dt>
          <dd><a href="javascript:;" class="hover">短信营销</a></dd>
          <dd><a href="javascript:;">邮件营销</a></dd>
          <dd><a href="javascript:;">企业邮局</a></dd>
          <dd><a href="javascript:;">域名备案</a></dd>
          <dd><a href="javascript:;">网络营销</a></dd>
        </dl>
        <div class="sub-page clearfix">
          <div class="right-cont">
            <h3 class="title">短信营销</h3>
            <p>我们提供专业高效的短信营销服务，高效覆盖，精准到达</p>
            <div class="skill-service">
              <img alt="" src="/static/img/service/duanxin.jpg">
            </div>
          </div>
        </div>
      </div>
      <div id="solution-box" class="solution-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">邮件营销</h3>
              <p>稳定送达，界面友好，性价比超高</p>
              <div class="solution-icon-p solution-icon-1">
                <img alt="" src="/static/img/service/youjian.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cloud-box" class="cloud-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">企业邮局</h3>
              <p>您公司的形象象征，名称自定义；智能反垃圾，多重套餐可选</p>
              <div class=""><img style="width:900px;" src="/static/img/service/youju.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="systemyw-box" class="systemyw-box">
        <div class="box">
          <div class="sub-page systemyw-sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">域名备案</h3>
              <p>专业快速的备案流程，最快速度保证您的备案通过</p>
              <div class="">
                <img alt=""  style="width:500px; " src="/static/img/service/beian.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
       <div id="cloud-box" class="cloud-box">
        <div class="box">
          <div class="sub-page clearfix">
            <div class="right-cont">
              <h3 class="title">网络营销</h3>
              <p>让更多的客户找到您，搭建企业与用户的信息桥梁；SEO、SEM、微信营销一个都不能少</p>
              <div class="cloud-desc-img"><img height="400px" src="/static/img/service/wangluo.jpg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}