{% extends "base.html" %}

{% block main %}
    <div class="service">
      <div class="box service-box tab-box">
        <div class="content-desc" style="margin-top: 5px;">
          <h2>网站模板</h2>
          <p>上千套免费的精美模板，可供选择</p>
          <p><a href="/template" class="arrow">更多模板</a></p>
          <div class="img-box" style="display:none;"><img src="/static/img/index/server-icon.jpg" width="888px" height="338px"></div>
        </div>
        <ul class=" template-nav">
        {% for i in temp %}
          <li>
            <div class="title" style="line-height:40px;">
	            <a href="{{i.3}}"  target="_blank"><img src="{{i.2}}" width="388px" height="285px"></a>
	        </div>
	        <span class="temp-content">模板编码：{{i.1}}</span>
          </li>
	    {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}